.shopping-container {
    /* 
        Sử dụng màu gradient 
        (nền chuyển màu từ #d434b0 đến #8029fc theo chiều ngang) 
    */
    background-image: linear-gradient(to right, #d434b0, #8029fc);

    /* tràn màn hình trải dài từ trên xuống */
    /* Đặt chiều cao phần tử bằng chiều cao màn hình gấp đôi trừ đi 70px */
    
    /* Nếu chiều cao đặt là auto, sẽ tự động căn chỉnh chiều cao sao cho vừa với nội dung*/
    height: auto; 

    /* Căn giữa các phần tử bên trong (theo chiều dọc) */
    align-items: center;

    /* Sử dụng font chữ Montserrat, nếu không có sẽ dùng font serif */
    font-family: "Montserrat", serif;

    /* Tự động điều chỉnh kích thước chữ theo đặc điểm của font */
    font-optical-sizing: auto;

    /* Đặt kiểu chữ là bình thường (không nghiêng) */
    font-style: normal;
    
    padding-bottom: 4rem;
}

h1 {
    /* Đặt màu chữ thành trắng */
    color: #fff;

    /* Căn giữa nội dung trong thẻ h1 */
    text-align: center;

    /* Thêm khoảng cách xung quanh chữ (padding) */
    padding: 4rem;

    /* Đặt kích thước chữ là 1.5rem (relative to the root font size) */
    font-size: 1.5rem;
}