<div class="shop-body">
    <div class="shop-table-head">
        <div class="col-1">Hình ảnh</div>
        <div class="col-2">Tên hàng</div>
        <div class="col-3">Đơn giá</div>
        <div class="col-4">Thao tác</div>
    </div>
    <div class="shop-content">
        <!-- Sử dụng ng-container (import CommonModule) để tạo ra nhóm phần tử mà không tạo thêm phần tử html -->
        <ng-container *ngFor="let product of products">
            <div class="shop-items" *ngIf="product.isActive">
                <div class="col-1">
                    <a [routerLink]="['/detail', product.id]">
                        <img 
                            src="{{ product.img }}" 
                            alt=""
                            width="50px"
                            height="auto"
                        >
                    </a>
                </div>
                <div class="col-2">{{ product.name | upperCasePipe }}</div>
                <div class="col-3">{{ product.price | currencyPipe }}</div>
                <div class="col-4">
                    <img 
                        src="assets/images/shopping-icon.png" 
                        alt=""
                        width="50px"
                        height="auto"
                        (click)="deleteHandler(product.id)"
                    >
                </div>
            </div>
        </ng-container>
    </div>
    Tổng tiền: {{ totalPrice | currencyPipe }}
    <div class="btn-navigation" (click)="createRandomProduct()">
        Thêm một sản phẩm (ngẫu nhiên)
    </div>
</div>