<div class="list-container">
    <h1>Danh sách cổ phần</h1>
    <div class="list-header">
      <div class="stock-name">Tên cổ phần</div>
      <div class="stock-price">Giá cổ phần</div>
      <div class="stock-btnNavigations">Điều hướng</div>
    </div>
    <div *ngFor="let stock of stocks$ | async" class="stock-container">
      <app-stock-item-api
        [stock]="stock"
        (toggleFavorite)="onToggleFavorite($event)"
        (deleteHandler)="onDelete($event)"
        (updateStock)="onUpdateStock($event)"
      ></app-stock-item-api>
      <!-- <app-stock-item [stock]="stock" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item> -->
    </div>
  </div>
  <p>Bấm vào <a [routerLink]="['/api/stock/create']">đây</a> để tạo một stock mới!</p>
  